node_modules/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.orin.*
web-build/

#macOS
._*
.DS_Store
.idea/
.gitattributes
package-lock.json

#windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
.directory
*~
.env



